<p>Il Comune di Sona individua nel paradigma dell’Open Government una via per creare una Pubblica Amministrazione aperta
  e che dia vigore all’innovazione nei confronti di cittadini ed imprese: gli Open Data rappresentano uno dei capisaldi
  di tale strategia.</p>
<p>Il principio fondamentale degli Open Data è che i dati pubblici, nel rispetto della normativa vigente, appartengono
  alla collettività e come tali devono essere ri-utilizzabili da chiunque ne abbia interesse.</p>
<p>Attraverso gli Open Data, il Comune di Milano sviluppa una serie di azioni per:</p>
<ul>
  <li>favorire la democrazia partecipativa;</li>
  <li>rendere i cittadini maggiormente consapevoli della realtà in cui vivono, effettuando scelte che soddisfano i
    propri bisogni in modo adeguato;</li>
  <li>agevolare la ricerca, rendendo disponibile una elevata quantità di dati per gli istituiti di ricerca, i quali
    possono migliorare la propria attività sia dal punto di vista quantitativo che qualitativo;</li>
  <li>favorire lo sviluppo di imprese specializzate, permettendo alle imprese specializzate del settore di sviluppare
    appositi sistemi che, rielaborando i dati in maniera opportuna, li rendano appetibili per il mercato;</li>
  <li>favorire la condivisione dei dati fra enti, mediante automatismi.</li>
</ul>
<p>Il patrimonio informativo del Comune di Sona è valorizzato secondo diverse strategie coerenti con le recenti
  normative ed indirizzi a livello nazionale: la direttiva europea 2013/37/UE detta PSI 2.0, il Piano Triennale per
  l’ICT della Pubblica Amministrazione - AGID, le Linee Guida per la Valorizzazione del Patrimonio Informativo Pubblico
  2017 - AGID, l’Application Profile for Data Portals in Europe - profilo Italiano (DCAT-AP_IT).</p>
<p>Il nuovo portale Open Data è lo strumento che consentirà di valorizzare al meglio tale patrimonio, favorendo la
  condivisione dei dati fra enti.</p>