{% set tags = h.get_facet_items_dict('tags', c.search_facets, limit=3) %}
{% set placeholder = _("Search data") %}

<form class="module-content search-form" method="get" action="{% url_for 'dataset.search' %}">
  <h2 class="heading">Sona Open Data</h2>
  <div class="search-input form-group search-giant">
    <input aria-label="{% block header_site_search_label %}{{ _('Search datasets') }}{% endblock %}"
      id="field-main-search" type="text" class="form-control" name="q" value="" autocomplete="off"
      placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />

    <button type="submit" aria-labelledby="search-label">
      <i class="fa fa-search"></i>
      <span class="sr-only" id="search-label">{{ _('Search') }}</span>
    </button>
  </div>
</form>