@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Titillium Web", sans-serif;
  background: #fff;
}

.main {
  background: #fff;
}

.dataset-resources {
  padding: 0;
}

.control-group {
  margin-bottom: 30px;
}

.site-footer,
.site-footer a,
.site-footer label {
  color: #fff;
  text-decoration: none;
}

.site-footer {
  background: #4f091d;
  margin-top: 30px;
}

.footer-brand img {
  width: auto;
  height: 70px;
  margin-right: 20px;
}

.footer-brand h2 {
  margin: 0px;
}

.footer-brand {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.masthead .logo img {
  max-height: 70px;
  margin-right: 10px;
}

.masthead .container {
  display: flex;
  align-items: center;
}

.navbar-left {
  flex: 1;
}

.navbar-right {
  font-size: 30px;
  margin: 0px 20px 0px 0px;
}

.masthead hgroup h1 {
  display: flex;
  align-items: center;
  margin: 0px;
  letter-spacing: 0px;
}

.masthead hgroup h1 a {
  text-decoration: none !important;
}

.masthead {
  z-index: 2;
  background: #f15c1c;
  padding: 20px 0px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
}

.account-masthead {
  background: #3a0715;
}

.account-masthead .account ul li {
  border: none;
}

.account-masthead .account ul li a:hover {
  background: #4f091d;
}

.masthead .nav > li > a {
  font-size: 20px;
}

.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:focus {
  background: none;
  text-decoration: underline;
}

.masthead .navigation .nav-pills li.active a {
  background: none;
  font-weight: bold;
}

.navigation {
  position: relative;
  z-index: 2;
}

.close-navbar-toggler {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  cursor: pointer;
}

.close-navbar-toggler.collapsed {
  display: none;
}

@media (max-width: 991px) {
  .navbar-left .logo span {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar-left .logo span {
    display: inline-block;
  }

  .masthead .navbar-collapse {
    height: 100vh !important;
    display: block !important;
    position: fixed;
    margin: 0px !important;
    top: 0 !important;
    left: -100vw;
    bottom: 0 !important;
    background: #fff;
    width: calc(100vw - 75px);
    box-shadow: 5px 0px 30px rgb(0 0 0 / 30%);
    transition: 300ms ease left;
    transform: none !important;
  }

  .masthead .nav > li > a {
    color: #4f091d;
    font-size: 20px;
  }

  .masthead .navbar-collapse[aria-expanded="true"] {
    left: 0;
  }

  .masthead .navigation .nav-pills li a:hover,
  .masthead .navigation .nav-pills li a:focus,
  .masthead .navigation .nav-pills li.active a {
    background: none;
    color: #f15c1c;
    text-decoration: none;
  }
}

.toolbar .breadcrumb a {
  color: #505050;
}

.main {
  margin-top: 20px;
}

.toolbar {
  margin-bottom: 30px;
}

.wrapper {
  box-shadow: none;
  border-radius: 3px;
}

.media-view:hover,
.media-view.hovered {
  box-shadow: none;
}

.media-grid,
.page-header {
  background: none;
}

.media-grid {
  border: none;
}

.nav > li > a {
  display: flex;
  align-items: center;
}

.nav-item.active > a,
.nav-aside li.active a {
  background: #ff5d19 !important;
}

.nav-item.active > a:before,
.nav-aside li.active a:before {
  display: none;
}

.active .badge {
  background: #fff;
  color: #000;
}

.badge {
  margin-left: 10px;
}

.nav-item.active > a:hover,
.nav-aside li.active a:hover {
  background: #e3571a !important;
}

.group-tiles {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 10px;
}

.group-card {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #eee;
}

.group-card h3 {
  font-size: 18px;
  font-weight: normal;
  background: #f5f5f5;
  margin: 0;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.group-card img {
  max-height: 150px;
  width: 100%;
  object-fit: contain;
  border-radius: 0;
  padding: 15px;
}

@media (max-width: 992px) {
  .group-tiles {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  .section-title .button {
    display: none;
  }

  .group-tiles {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.group-card h3 input {
    margin-left: 10px;
}

.select2-container {
    margin-bottom: 15px !important;
}