@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Titillium Web', sans-serif;
}

.main {
  background: #fff;
}

.dataset-resources {
  padding: 0;
}

.control-group {
  margin-bottom: 30px;
}

.site-footer, .site-footer a, .site-footer label {
    color: #fff;
    text-decoration: none;
}

.site-footer {
  background: #4F091D;
  margin-top: 30px;
}

.footer-brand img {
    width: auto;
    height: 70px;
    margin-right: 20px;
}

.footer-brand h2 {
    margin: 0px;
}


.footer-brand {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}