.masthead {
  position: absolute;
  left: 0;
  right: 0;
  background-color: transparent;
  box-shadow: none;
}

.hero {
  padding-top: 150px !important;
  min-height: 80vh;
  background: url(/base/images/header_background.jpg);
  background-size: cover;
  position: relative;
  display: flex;
}

@media (max-width: 768px) {
  .hero > .container {
    flex: 1;
  }
}

.hero h2 {
  color: #fff;
  font-size: 60px;
  margin: 0px 0px 30px 0px;
}

.hero .search-form {
  text-align: center;
  border: none;
  margin: 0;
  padding: 0;
}

.search-form .search-input.search-giant input {
  border-radius: 0px;
  border: none;
  padding: 20px 80px 20px 30px;
  box-shadow: none;
}

.search-form .search-input.search-giant button i {
  color: #000;
  font-size: 20px;
  width: 20px;
}

.hero .search-input {
  display: flex;
  align-items: center;
}

.search-form .search-input.search-giant button {
  margin-top: -10px;
  right: 30px;
}

.hero {
  position: relative;
}

.hero-bg {
  background: rgb(0 0 0 / 40%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero > .container {
  z-index: 1;
}
