{% extends "page.html" %}
{% set homepage_style = '3' %}

{% block custom_styles %}
  {{ super() }}
  <link rel="stylesheet" href="/cds_main.css" />
  <link rel="stylesheet" href="/index.css" />
{% endblock %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block content %}
<div class="homepage layout-{{ homepage_style }}">
  <div id="content" class="container">
    {{ self.flash() }}
  </div>
  {% block primary_content %}
  {% snippet "home/layout{0}.html".format(homepage_style) %}
  {% endblock %}
</div>
{% endblock %}