{% block header_wrapper %}

<header class="navbar navbar-static-top masthead">
  {% block header_debug %} {% if g.debug and not g.debug_supress_header %}
  <div class="debug">Controller : {{ c.controller }}<br />Action : {{ c.action }}</div>
  {% endif %} {% endblock %}

  <div class="container">
    <div class="navbar-right">
      <button data-target="#main-navigation-toggle" data-toggle="collapse" class="navbar-toggle collapsed" type="button"
        aria-controls="main-navigation-toggle" aria-label="Toggle navigation" aria-expanded="false">
        <span class="sr-only">{{ _('Toggle navigation') }}</span>
        <span class="fa fa-bars"></span>
      </button>
    </div>

    <hgroup class="{{ g.header_class }} navbar-left">
      {% block header_logo %}
      {% if g.site_logo %}
      <h1>
        <a class="logo" href="{{ h.url_for('home.index') }}">
          <img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}"
            title="{{ g.site_title }}" />
          <span>{{ g.site_title }}</span>
        </a>
      </h1>
      {% else %}
      <h1>
        <a href="{{ h.url_for('home.index') }}"><span>{{ g.site_title }}</span></a>
      </h1>
      {% endif %}
      {% endblock %}
    </hgroup>

    <div class="collapse navbar-collapse" id="main-navigation-toggle">
      <a class="close-navbar-toggler collapsed" data-toggle="collapse" data-target="#main-navigation-toggle"
        aria-controls="main-navigation-toggle" aria-expanded="false" aria-label="Toggle navigation">
      </a>
      
      {% block header_site_navigation %}
      <nav class="section navigation">
        <ul class="nav nav-pills">
          {% block header_site_navigation_tabs %}
          {{ h.build_nav_main(
          ('dataset.search', _('Datasets')),
          ('organization.index', _('Organizations')),
          ('group.index', _('Groups')),
          ('home.about', _('About')) )
          }}
          {% endblock %}
        </ul>
      </nav>
      {% endblock %}
    </div>
  </div>
</header>
{% endblock %}