{% set dataset_type = h.default_package_type() %}

{% block header_wrapper %}
<header class="navbar navbar-static-top masthead">
  {% block header_debug %} {% if g.debug and not g.debug_supress_header %}
  <div class="debug">Blueprint : {{ g.blueprint }}<br />View : {{ g.view }}</div>
  {% endif %} {% endblock %}
  <div class="container">
    <hgroup class="{{ g.header_class }} navbar-left">
      {% block header_logo %}
      {% if g.site_logo %}
      <h1>
        <a class="logo" href="{{ h.url_for('home.index') }}">
          <img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}"
            title="{{ g.site_title }}" />
          {{ g.site_title }}
        </a>
      </h1>
      {% else %}
      <h1>
        <a href="{{ h.url_for('home.index') }}">{{ g.site_title }}</a>
      </h1>
      {% if g.site_description %}
      <h2>{{ g.site_description }}</h2>{% endif %} {% endif %} {% endblock %}
    </hgroup>

    <div class="collapse navbar-collapse" id="main-navigation-toggle">
      {% block header_site_navigation %}
      <nav class="section navigation">
        <ul class="nav nav-pills">
          {% block header_site_navigation_tabs %}
            {% set org_type = h.default_group_type('organization') %}
            {% set group_type = h.default_group_type('group') %}

            {{ h.build_nav_main(
            (dataset_type ~ '.search', h.humanize_entity_type('package', dataset_type, 'main nav') or _('Datasets'),
            ["dataset", "resource"]),
            (org_type ~ '.index',
            h.humanize_entity_type('organization', org_type, 'main nav') or _('Organizations'), ['organization']),
            (group_type ~ '.index',
            h.humanize_entity_type('group_type', group_type, 'main nav') or _('Groups'), ['group']),
            ('home.about', _('About')) ) }}
          {% endblock %}
        </ul>
      </nav>
    </div>

    <div class="navbar-right">
      <button data-target="#main-navigation-toggle" data-toggle="collapse" class="navbar-toggle collapsed" type="button"
        aria-label="expand or collapse" aria-expanded="false">
        <span class="sr-only">{{ _('Toggle navigation') }}</span>
        <span class="fa fa-bars"></span>
      </button>
    </div>
  </div>
</header>
{% endblock %}